:root {
    --primery-font:'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --primery-white-color:#ffffff;
    --primery-gray-color:#757575;
    --primery-logo-color:#000000;
    --primery-accent-color:#2196F3;
    --primery-menu-link-color:#212121;
    --primery-background-color:#2F303A;
    --primery-address-text-color:rgba(255, 255, 255, 0.6);
}
body{
    background-color:var(--primery-white-color);
    color:var(--primery-gray-color);
    font-family:var(--primery-font) ;

}
.address{
    font-style: normal;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


.logo {
    font-family:var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color:var(--primery-accent-color);
    }
    .header-second-part-logo {
    color:var(--primery-logo-color);

    }

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color:var(--primery-menu-link-color)
    }
.menu-link.current{

    color: var(--primery-accent-color);
}
.menu-link:hover,
.menu-link:focus {
    color:var(--primery-accent-color);
}
.header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;

    color:var(--primery-gray-color);
    }
.header-link:hover,
.header-link:focus{
    color:var(--primery-accent-color); 
} 
.hero-section{
    background-color:var(--primery-background-color);
    text-align: center;
    
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
   

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color:var(--primery-white-color);
    }
.hero-btn{
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;

    color:var(--primery-white-color);
    background-color: var(--primery-accent-color);
        }

.title-scnd{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color:var(--primery-menu-link-color);

    }   
.title-thrd{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primery-menu-link-color);

}
.feature-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}
.team-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

}
.footer-section{
    background-color: var(--primery-background-color);

}

.footer-scnd-part-logo{
    color:var(--primery-white-color);
}


.footer-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
  
    letter-spacing: 0.03em;

    color:var(--primery-address-text-color) ;
}
.footer-link:hover,
.footer-link:focus{
    color:var(--primery-white-color);
}
.title-potfolio{
 
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color:var(--primery-menu-link-color);

}
.portfolio-text{

font-size: 16px;
line-height: 1.87; 
letter-spacing: 0.03em;
color:var(--primery-gray-color);
}
.filter-button{

font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
cursor: pointer;

color:var(--primery-menu-link-color)

}
.filter-button:hover,
.filter-button:focus{
    color:var(--primery-white-color);
    background-color:var(--primery-accent-color);
}